
* {
  font-family: Georgia, Georgia, serif;
  border: 1px black;
  text-align: center;
  background-color: #ffc289;
}
h1 {
  color: #ff0000;
  font-size: 32px;
  margin: auto;
}
h2 {
  color: #ff0000;
  font-size: 24px;
  margin: auto;
}
h3 {
  color: #ff0000;
  font-size: 16px;
  margin: auto;
}
p {
  color: #ff0000;
  font-size: 12px;
  margin: auto;
}
