
body {
  font-family: Papyrus, fantasy;
  text-align: center;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-color: #ae7b4c;
}
h1 {
  color: #ffc289;
  font-size: 60px;
  text-shadow: 4px 4px #ff0000;
  background-color: #0000;
  margin-top: 100px;
  margin-bottom: 20px;
  margin-right: 150px;
  margin-left: 80px;
}
h2 {
  color: #ffc289;
  font-size: 40px;
  text-shadow: 3px 3px #ff0000;
  background-color: #0000;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
h3 {
  color: #ffc289;
  font-size: 30px;
  text-shadow: 2px 2px #ff0000;
  background-color: #0000;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
p {
  color: #ffc289;
  font-size: 20px;
  text-shadow: 1px 1px #ff0000;
  background-color: #0000;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
#songs {
  text-align: left;
}
