
body {
  font-family: Papyrus, fantasy;
  text-align: center;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: top;
  color: #ffff;
  background-color: #ae7b4c;
}
h1 {

  color: #4c54ae;
  font-size: 60px;
  font-weight: bold;
  text-shadow: 4px 4px #000;
  background-color: #0000;
  margin-top: 100px;
  margin-bottom: 20px;
  margin-right: 150px;
  margin-left: 80px;
}
h2 {
  color: #4c54ae;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 3px 3px #000;
  background-color: #0000;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
h3 {
  color: #4c54ae;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px #000;
  background-color: #0000;
  margin-top: 100px;
  margin-bottom: 500px;
  margin-right: 150px;
  margin-left: 80px;
}
p {
  text-align: left;
  color: #ffc289;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px #000;
  background-color: #8a4131;
  border: 10px solid #ffc289;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 100px;
  padding: 30px;
}
.tracks {
  text-align: center;
  margin-right: 1460px;
}
